#boards {
    display: flex;
    overflow: auto;

    table {
        margin: 1rem;
        border: 1px solid black;

        caption {
            font-weight: bold;
            font-size: 1.5rem;
        }

        td {
            height: 6rem;
            border: 1px solid black;
            text-align: center;

            &.selected {
                background: green;
            }
        }
    }
}

#draw-history {
    overflow: auto;
    height: 10rem;
}