<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="utf-8" />
        <title>Bird Bingo</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>

    <body>
        <a href="/info">Info</a>
        {% if game_won %}
            <form action="/api/new-game" method="post">
                <button>New Game</button>
            </form>
            <h3>
                {% if winners|length == 1 %}
                    Winner:
                {% else %}
                    Winners:
                {% endif %}
            </h3>
            <ul>
                {% for winner in winners %}
                    <li>{{winner}}</li>
                {% endfor %}
            </ul>
        {% else %}
            <form action="/api/draw-bird" method="post">
                <label for="name">Name</label>
                <input required id="name" name="name">
                <button>Draw Bird</button>
            </form>
        {% endif %}

        <div id="boards">
            {% for board in boards %}
            <table>
                <caption>{{board.owner}}</caption>
                <tbody>
                    {% for i in range(5) %}
                        <tr>
                            {% for j in range(5) %}
                                {% if board.grid[i * 5 + j].selected %}
                                    <td class="selected">
                                {% else %}
                                    <td>
                                {% endif %}
                                        {{board.grid[i * 5 + j].bird}}
                                    </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endfor %}
        </div>

        <h3>Draw History</h3>
        <ol id="draw-history">
            {% for draw_history_item in draw_history %}
                <li>{{draw_history_item.name}} drawn by {{draw_history_item.user}}</li>
            {% endfor %}
        </ol>
    </body>

    <script>
        // Store the user's name in local storage to remember their entered name on future visits
        const nameInput = document.getElementById('name');
        existingName = localStorage.getItem('name');

        if (nameInput && existingName) {
            nameInput.value = existingName;
        }

        nameInput.addEventListener('input', (event) => {
            localStorage.setItem('name', event.target.value);
        });
    </script>
</html>